<ul>
    {% for item in menu_items %}
        <li>
            <a href="{% if item.url %}{{ item.url }}{% else %}{% url item.named_url %}{% endif %}">{{ item.name }}</a>
            {% if item.children.all %}
                <ul>
                    {% for child in item.children.all %}
                        <li>
                            <a href="{% if child.url %}{{ child.url }}{% else %}{% url child.named_url %}{% endif %}">{{ child.name }}</a>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </li>
    {% endfor %}
</ul>
